USE [Ecommerce]
GO
/****** Object:  UserDefinedTableType [dbo].[ColorQuantityTableType]    Script Date: 5/26/2025 9:45:55 PM ******/
CREATE TYPE [dbo].[ColorQuantityTableType] AS TABLE(
	[Quantity] [int] NULL,
	[ColorId] [int] NULL,
	[ColorName] [nvarchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SubCategoryType]    Script Date: 5/26/2025 9:45:55 PM ******/
CREATE TYPE [dbo].[SubCategoryType] AS TABLE(
	[CategoryId] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[SubCategoryTypeWithId]    Script Date: 5/26/2025 9:45:55 PM ******/
CREATE TYPE [dbo].[SubCategoryTypeWithId] AS TABLE(
	[Id] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL
)
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorQuantities]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorQuantities](
	[ProductId] [int] NOT NULL,
	[ColorId] [int] NOT NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderedProducts]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderedProducts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[DetailedAddress] [nvarchar](1000) NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prices]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[IsDiscounted] [bit] NOT NULL,
	[DiscountPercentage] [decimal](5, 2) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[LongDescription] [nvarchar](max) NOT NULL,
	[Size] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NULL,
	[SubCategoryId] [int] NOT NULL,
 CONSTRAINT [PK__Products__3214EC0743269ABD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Products_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quantities]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quantities](
	[ProductID] [int] NOT NULL,
	[OverallQuantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](72) NULL,
	[Password] [varchar](72) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[LastUpdateDate] [datetime2](7) NULL,
	[FirstName] [nvarchar](72) NULL,
	[LastName] [nvarchar](72) NULL,
	[Email] [varchar](100) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[ConfirmPassword] [varchar](100) NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](512) NULL,
	[RefreshToken] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ValidUntil] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_UserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderedProducts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderedProducts] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OrderedProducts] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Prices] ADD  DEFAULT ((0)) FOR [DiscountPercentage]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[SubCategories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_LastUpdateDate]  DEFAULT (getdate()) FOR [LastUpdateDate]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[UserTokens] ADD  CONSTRAINT [DF_UserTokens_ValidUntil]  DEFAULT (getdate()) FOR [ValidUntil]
GO
ALTER TABLE [dbo].[ColorQuantities]  WITH CHECK ADD  CONSTRAINT [FK_ColorQuantities_Colors] FOREIGN KEY([ColorId])
REFERENCES [dbo].[Colors] ([Id])
GO
ALTER TABLE [dbo].[ColorQuantities] CHECK CONSTRAINT [FK_ColorQuantities_Colors]
GO
ALTER TABLE [dbo].[ColorQuantities]  WITH CHECK ADD  CONSTRAINT [FK_ColorQuantities_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ColorQuantities] CHECK CONSTRAINT [FK_ColorQuantities_Products]
GO
ALTER TABLE [dbo].[OrderedProducts]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderedProducts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Prices]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_SubCategory] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_SubCategory]
GO
ALTER TABLE [dbo].[Quantities]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Quantities]  WITH CHECK ADD  CONSTRAINT [FK_Quantities_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Quantities] CHECK CONSTRAINT [FK_Quantities_Products]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Category]
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateCategory]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateCategory]
    @Name NVARCHAR(50),
    @Description NVARCHAR(255),
    @SubCategories dbo.SubCategoryType READONLY
AS
    BEGIN TRY 
        BEGIN TRANSACTION;
        
        -- Insert the new category
        INSERT INTO Categories (Name, Description)
        VALUES (@Name, @Description);
        DECLARE @CategoryID INT;
        SET @CategoryID = SCOPE_IDENTITY();
        
        -- Check if the category was created successfully
        IF @CategoryID IS NULL
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR('Failed to create category.', 16, 1);
        END
        
        -- Insert subcategories
        INSERT INTO SubCategories (CategoryID, Name, Description)
        SELECT @CategoryID, Name, Description   
        FROM @SubCategories;
        
        COMMIT TRANSACTION;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateProduct]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateProduct]
    @SubCategoryId INT,
    @Name NVARCHAR(255),
    @Description NVARCHAR(255),
    @LongDescription NVARCHAR(MAX),
    @Size NVARCHAR(50),
    @OverallQuantity INT,
    @IsDiscounted BIT,
    @DiscountPercentage DECIMAL(5, 2),
    @Price DECIMAL(18, 2),
    @ColorQuantities dbo.ColorQuantityTableType READONLY,
    @ProductId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
    
            INSERT INTO Products (SubCategoryId, Name, Description, LongDescription, Size)
            VALUES (@SubCategoryId, @Name, @Description, @LongDescription, @Size)

            SET @ProductId = SCOPE_IDENTITY();
        
            INSERT INTO Quantities (ProductId, OverallQuantity)
            VALUES (@ProductId, @OverallQuantity)
            
            INSERT INTO Prices (ProductId, Price, IsDiscounted, DiscountPercentage)
            VALUES (@ProductId, @Price, @IsDiscounted, @DiscountPercentage)

            INSERT INTO ColorQuantities (ProductId, ColorId, Quantity)
            SELECT @ProductId, ColorId, Quantity
            FROM @ColorQuantities;
            
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
    
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteProduct]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DeleteProduct]
    @Id INT
AS
BEGIN
    UPDATE Products 
    SET IsDeleted = ~IsDeleted
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCategory]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllCategory]
AS
    
BEGIN
    SELECT Id, Name, Description, IsDeleted FROM Categories
    
    SELECT Id, CategoryId, Name, Description, IsDeleted FROM SubCategories
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllProducts]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllProducts]
    @Page INT,
    @Amount INT
AS
    
BEGIN
    DECLARE @Offset INT = (@Page - 1) * @Amount;

    SELECT p.Id, p.SubCategoryId, p.Name, p.Description, q.OverallQuantity, pr.IsDiscounted, pr.DiscountPercentage, pr.Price, CreatedAt, UpdatedAt, DeletedAt, IsDeleted
    FROM Products as p
    LEFT JOIN Quantities as q ON p.Id = q.ProductID
    LEFT JOIN Prices as pr ON p.Id = pr.ProductID
    WHERE IsDeleted = 0
    ORDER BY Id
    OFFSET @Offset ROWS
        FETCH NEXT @Amount ROWS ONLY;
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetProductsBySubCategoryId]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetProductsBySubCategoryId]
    @SubCategoryId INT
AS
    
    BEGIN 
        SELECT p.Id, p.Name, p.Description, q.OverallQuantity, pr.IsDiscounted, pr.DiscountPercentage, pr.Price, p.SubCategoryId
        FROM Products as p
        LEFT JOIN Quantities as q ON p.Id = q.ProductId
        LEFT JOIN Prices as pr ON p.Id = pr.ProductId
        WHERE SubCategoryId = @SubCategoryId
    END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetSingleProduct]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetSingleProduct]
    @Id INT
AS
BEGIN
    SELECT p.Id, p.SubCategoryId, p.Name, p.Description, p.LongDescription, p.Size,
           q.OverallQuantity, pr.IsDiscounted, pr.DiscountPercentage, pr.Price, p.CreatedAt, p.UpdatedAt, p.DeletedAt, p.IsDeleted 
    FROM Products as p
    LEFT JOIN Quantities as q ON p.Id = q.ProductId
    LEFT JOIN Prices as pr ON p.Id = pr.ProductId
    WHERE p.Id = @Id AND p.IsDeleted = 0

    -- Fetch color quantities related to the product
    SELECT cq.Quantity, cq.ColorId, c.Name as ColorName
    FROM ColorQuantities cq
    LEFT JOIN dbo.Colors C on cq.ColorId = C.Id
    WHERE cq.ProductId = @Id;
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUser]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUser]
	@Username varchar(100)
AS

BEGIN
    DECLARE @UserId int;
    SELECT @UserId = Id FROM Users WHERE Username = @Username;
    
    -- Fetching the user's main details (without RoleId)
    SELECT TOP 1 Id, Username, FirstName, LastName, Email, PhoneNumber, Password, CreateDate, LastUpdateDate
    FROM Users
    WHERE Id = @UserId;

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserById]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetUserById]
    @Id INT
AS 
    BEGIN 
        SELECT Id, Username, CreateDate, LastUpdateDate, FirstName, LastName, Email, PhoneNumber, IsDeleted, IsAdmin
        FROM Users
        WHERE Id = @Id
    end
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUserRefreshToken]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_GetUserRefreshToken]
	@UserId int
AS

	BEGIN 
		SELECT RefreshToken FROM UserTokens WHERE UserId = @UserId 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_SaveRefreshToken]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SaveRefreshToken]
    @UserId int,
    @Token nvarchar(500),
    @RefreshToken NVARCHAR(50)
AS 

BEGIN 
    IF EXISTS(SELECT UserId FROM UserTokens WHERE UserId = @UserId)
    BEGIN
        UPDATE UserTokens
        SET Token = @Token, RefreshToken = @RefreshToken, UpdatedAt = GETDATE(), ValidUntil = DATEADD(MINUTE, 60, GETDATE())
        WHERE UserId = @UserId;
    END
    ELSE
    BEGIN
        INSERT INTO UserTokens (UserId, Token, RefreshToken, ValidUntil) 
        VALUES (@UserId, @Token, @RefreshToken, DATEADD(MINUTE, 60, GETDATE()))
    end
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SignUp]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_SignUp]
	@Username NVARCHAR(72),
	@Password VARCHAR(72),
	@FirstName NVARCHAR(72),
	@LastName NVARCHAR(72),
	@Email VARCHAR(100),
	@PhoneNumber NVARCHAR(15),
	@ConfirmPassword VARCHAR(100)
AS
	BEGIN

		INSERT INTO Users (Username, Password, FirstName, LastName, Email, PhoneNumber, ConfirmPassword)
		VALUES(@Username, @Password, @FirstName, @LastName, @Email, @PhoneNumber, @ConfirmPassword)

	END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCategory]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateCategory] 
    @Id INT,
    @Name NVARCHAR(50),
    @Description NVARCHAR(255),
    @SubCategories dbo.SubCategoryTypeWithId READONLY
AS
    BEGIN TRY 
        BEGIN TRANSACTION;

        -- Update the main category
        UPDATE dbo.Categories
        SET 
            Name = @Name,
            Description = @Description
        WHERE Id = @Id;
        
        -- Update subcategories
        UPDATE dbo.SubCategories
        SET 
            Name = sub.Name,
            Description = sub.Description
        FROM dbo.SubCategories AS sub
        INNER JOIN @SubCategories AS newSub ON sub.Id = newSub.Id 
        WHERE sub.CategoryId = @Id;
        
        
        
        -- Insert new subcategories
        INSERT INTO dbo.SubCategories (CategoryId, Name, Description)
        SELECT @Id, sub.Name, sub.Description
        FROM @SubCategories AS sub
        WHERE NOT EXISTS (
            SELECT 1
            FROM dbo.SubCategories AS existing
            WHERE existing.Id = sub.Id AND existing.CategoryId = @Id
        );
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    end catch
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateProduct]    Script Date: 5/26/2025 9:45:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateProduct]
    @Id INT,
    @SubCategoryId INT,
    @Name NVARCHAR(255),
    @Description NVARCHAR(255),
    @LongDescription NVARCHAR(255),
    @Size NVARCHAR(50),
    @OverallQuantity INT,
    @IsDiscounted BIT,
    @DiscountPercentage DECIMAL(5, 2),
    @Price DECIMAL(18, 2),
    @ColorQuantities dbo.ColorQuantityTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY 
        BEGIN TRANSACTION;

        UPDATE Products
        SET SubCategoryId = @SubCategoryId,
            Name = @Name,
            Description = @Description,
            LongDescription = @LongDescription,
            Size = @Size,
            UpdatedAt = GETDATE()
        WHERE Id = @Id;
        
        UPDATE Quantities
            SET OverallQuantity = @OverallQuantity
            WHERE ProductID = @Id;
        
        UPDATE Prices
            SET Price = @Price,
                IsDiscounted = @IsDiscounted,
                DiscountPercentage = @DiscountPercentage
            WHERE ProductID = @Id;

        MERGE ColorQuantities AS target
        USING (
            SELECT Quantity, ColorId
            FROM @ColorQuantities
        ) AS source
        ON target.ProductId = @Id AND target.ColorId = source.ColorId

        WHEN MATCHED THEN
            UPDATE SET target.Quantity = source.Quantity

        WHEN NOT MATCHED BY TARGET THEN
            INSERT (ProductId, Quantity, ColorId)
            VALUES (@Id, source.Quantity, source.ColorId);
            
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH 
        ROLLBACK TRANSACTION ;
        THROW;
    end catch
END
GO
